---
import LinkBlend from "@components/global/LinkBlend.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section id="hero" class="section home-dark-section hero min-h-screen">
	<div class="mx-auto flex h-full flex-col py-4 lg:py-10">
		<div class="relative flex flex-1 flex-col justify-around rounded-lg pb-10 pt-20 lg:rounded-2xl">
			<div class="flex justify-center">
				<h1 class="text-center font-display text-5xl font-extrabold uppercase sm:text-7xl md:text-8xl lg:text-9xl">
					<span class="main-title block w-full text-center">{t("hero.title.main")}</span>

					<span class="mx-auto inline-flex items-center justify-center gap-0 whitespace-nowrap text-center">
						<span class="rotator relative inline-block h-16 justify-center overflow-hidden sm:h-20 md:h-28 lg:h-32">
							<span>{t("hero.title.1")}</span>
							<span>{t("hero.title.2")}</span>
							<span>{t("hero.title.3")}</span>
							<span>{t("hero.title.4")}</span>
							<span>{t("hero.title.1")}</span>
						</span>
						<span class="suffix">-이<span style="" class="heart">모</span>어</span>
					</span>
				</h1>
			</div>
			<div class="flex flex-col items-center gap-5 text-center lg:gap-10">
				<p class="max-w-full break-keep font-sans lg:text-lg" set:html={t("hero.subtitle")} />
				<div class="flex flex-col items-center justify-center gap-3 lg:col-start-1">
					<div class="squircle-bg rounded-lg bg-zinc-900" data-cursor-hover data-cursor-parallax>
						<a
							class="flex h-10 w-full max-w-52 flex-1 items-center justify-center px-4 py-2 text-xl text-slate-200 transition-all hover:text-white sm:w-auto md:font-bold lg:h-10"
							aria-label="Contact Page"
							href={translatePath("/contact/")}>
							{t("contact")}
						</a>
					</div>

					<small>
						{t("or")}
						<LinkBlend id="go-projects-button" isButton={true}>{t("hero.scroll")}</LinkBlend>
					</small>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.hero {
		padding-bottom: 0;
		position: relative;
		border-radius: inherit;
		overflow: hidden;
	}
	.hero > div {
		grid-column: 1 / span 12;
	}

	.hero h1,
	.hero h2,
	.hero h3 {
		margin: 0;
	}
	.hero h1 {
		margin: 0;
		position: relative;
		overflow: hidden;
		visibility: hidden;
	}
	.hero h1 > div {
		position: relative;
		margin: 0;
	}
	.hero :global(.split-parent) {
		overflow: hidden;
	}
	.hero :global(.split-child) {
		display: inline-block;
	}

	.rotator {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		white-space: nowrap;
		min-width: 6ch;
		max-width: 100%;
		margin-right: -0.25em;
		margin-left: -0.5em;
	}

	.rotator > span {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
		opacity: 0;
	}

	.rotator > span:first-child {
		opacity: 1;
	}

	.suffix {
		display: inline-block;
		transition: transform 0.5s ease;
		margin-left: -0.35em;
		transform: translate(-1.5em, 0);
	}

	.heart {
		background-image: radial-gradient(
			circle at 10% 10%,
			rgb(236, 20, 90) 10%,
			rgb(236, 20, 90) 35%,
			rgb(255, 105, 140) 50%,
			rgb(236, 20, 90) 65%,
			rgb(236, 20, 90) 100%
		);
		background-size: 300% 300%;
		background-position: 50% 50%;

		-webkit-background-clip: text;
		color: transparent;
		transition: background-position 0.1s ease-out;
		display: inline-block;
		-webkit-font-smoothing: antialiased;
	}

	@media (max-width: 768px) {
		.rotator {
			min-width: 5.5ch;
			margin-right: 0em;
		}
		.suffix {
			margin-left: -0.25em;
			transform: translate(-1.6em, 0);
		}
		.heart {
			background-image: radial-gradient(circle at 10% 10%, rgb(255, 170, 190) 0%, rgb(236, 20, 90) 60%, rgb(180, 10, 50) 100%) !important;
			background-size: 100% 100% !important;
			background-position: 50% 50% !important;
		}
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	import { SplitText } from "gsap/SplitText";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";

	gsap.registerPlugin(ScrollTrigger, SplitText, ScrollToPlugin);

	function init() {
		const childSplit = new SplitText(".hero h1 .main-title", {
			type: "lines",
			linesClass: "split-child",
		});

		gsap.timeline()
			.from(childSplit.lines, {
				duration: 1.5,
				yPercent: 100,
				ease: "power4",
				stagger: 0.1,
			})
			.set(".hero h1", { visibility: "visible" }, "<")
			.then(() => {
				const words = document.querySelectorAll(".hero .rotator > span");
				const suffix = document.querySelector(".hero .suffix");

				const isMobile = window.innerWidth < 640;
				if (suffix) {
					gsap.set(suffix, {
						x: isMobile ? -2.8 * parseFloat(getComputedStyle(suffix).fontSize) : -2.8 * parseFloat(getComputedStyle(suffix).fontSize),
					});
				}

				let tl = gsap.timeline({ repeat: -1 });
				tl.timeScale(0.5);

				words.forEach((word, index) => {
					gsap.set(words, { zIndex: 1 });
					gsap.set(word, { zIndex: 2 });
					if (index === 0) {
						gsap.set(word, { opacity: 1, yPercent: 0 });
					} else {
						tl.fromTo(word, { opacity: 0, yPercent: 100 }, { duration: 0.8, opacity: 1, yPercent: 0, ease: "power4.out" }, index);
					}

					tl.to(
						suffix,
						{
							x:
								index === 0
									? isMobile
										? suffix
											? -1.6 * parseFloat(getComputedStyle(suffix).fontSize)
											: 0
										: suffix
											? -1.5 * parseFloat(getComputedStyle(suffix).fontSize)
											: 0
									: 0,
							duration: 0,
							ease: "power4.inOut",
						},
						index,
					);

					if (index !== words.length - 1) {
						tl.to(word, { duration: 1, opacity: 0, yPercent: -100, ease: "power2.inOut" }, index + 0.6);
					}
				});
			});

		var goProjectsButton = document.getElementById("go-projects-button");
		goProjectsButton?.addEventListener("click", function () {
			gsap.to(window, { duration: 0.5, scrollTo: "#projects" });
		});
	}

	document.removeEventListener("DOMContentLoaded", init);
	document.addEventListener("DOMContentLoaded", init);

	document.addEventListener("mousemove", (e) => {
		if (window.matchMedia("(max-width: 768px)").matches) return;

		const heart = document.querySelector(".heart");
		if (!heart) return;

		const rect = heart.getBoundingClientRect();
		const centerX = rect.left + rect.width / 2;
		const centerY = rect.top + rect.height / 2;

		const diffX = e.clientX - centerX;
		const diffY = e.clientY - centerY;

		const xPos = `calc(50% + ${diffX / 10}px)`;
		const yPos = `calc(50% + ${diffY / 10}px)`;

		(heart as HTMLElement).style.backgroundPosition = `${xPos} ${yPos}`;
	});
</script>
